@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .animate-wiggle {
    animation: wiggle 2s ease-in-out infinite;
  }

  .animate-wag {
    animation: wag 0.5s ease-in-out infinite;
  }

  .animate-slow-wag {
    animation: wag 1s ease-in-out infinite;
  }

  .animate-wave {
    animation: wave 1s ease-in-out infinite;
  }

  .animate-fade-in-out {
    animation: fadeInOut 3s ease-in-out;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes wag {
  0%,
  100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateX(-50%);
  }
  10% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
